.e1{
    background-color: rgb(13, 13, 14);
    border-style:outset;
    text-align: center;
    }

.e2{
    background-color:rgb(177, 177, 140);
    text-align: center;
    padding: 20px;
}

.t1{
    color: rgb(243, 243, 239);
}
footer{
    background-color: black;
    padding: 5px;
    text-align: center;
}